input {
    width: 50px;
}

.container {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
}

.clicked {
    overflow: auto;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.7);
}

.floating-container {
    height: 90%;
    width: 90%;

    border: 1px solid black;
    background-color: white;

    margin: 2% auto;
    padding: 10px;
}

.check-svg-container {
    overflow: auto;
    border: 1px solid black;
}

/* linia na pelna szerokosc wykresu */
hr {
    position: sticky;
    left: 0;
}